name: Build container images

on:
  push:
    branches: ["master"]
    tags: ["*"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  meta:
    name: Set metadata
    runs-on: ubuntu-24.04
    outputs:
      image_name: ${{ steps.meta.outputs.image_name }}

    steps:
      - name: Set metadata
        id: meta
        env:
          registry: ${{ env.REGISTRY }}
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
        run: |
          echo "image_name=${registry,,}/${owner,,}/${repo,,}" >> "$GITHUB_OUTPUT"

  build:
    needs:
      - meta
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: amd64
            os: linux
            runner: ubuntu-24.04
          - platform: arm64
            os: linux
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0

      - name: Set up Docker Buildx
        id: setup-buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Log in to registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ needs.meta.outputs.image_name }}

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          platforms: ${{ matrix.os }}/${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ needs.meta.outputs.image_name }}
          outputs: type=registry,push-by-digest=true,name-canonical=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v5.0.0
        with:
          name: digests-${{ matrix.os }}-${{ matrix.platform }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    needs:
      - meta
      - build
    runs-on: ubuntu-24.04

    steps:
      - name: Download digests
        uses: actions/download-artifact@v6.0.0
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Log in to registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Get Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ needs.meta.outputs.image_name }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create \
          $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
          $(printf '${{ needs.meta.outputs.image_name }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ needs.meta.outputs.image_name }}:${{ steps.meta.outputs.version }}
